.pagination {
  position: absolute;
  bottom: 37px;
  overflow-x: scroll;
  width: 363px;
}
nav {
  display: flex !important;
  justify-content: center;
}

.active {
  background-color: #80808040 !important;
}
