.pagination {
  position: absolute;
  bottom: 20px;
}

.active {
  background-color: gray;
}

.active a {
  color: white;
}

li {
  padding: 5px 14px !important;
  border: 1px solid #8080805e;
  background-color: #000000de;
}

ul.pagination > li > a {
  color: white;
  font-size: 18px;
  font-weight: 900;
}
.paginationMain {
  display: flex;
  justify-content: center;
}

ul.pagination > li > a:hover {
  color: #6f7378;
  text-decoration: none;
}