.iconSize{
    font-size: 30px;
}

.inputStyle{
    width: 11%;
}

.taxInputStyle{
    border: 2px solid black;
    max-width: 94px !important;
    /* text-align: center; */
    margin-left: 30px;
}
.spanTaxStyle{
    display: block;
    margin-left: 38px;
}
.filteredUser{
    position: relative;
    top: -3px;
    z-index: 999;
}
.productsTable{
    position: fixed;
    top: 133px;
}