/* global css */

.globalBtn {
    background-color: #00898d !important;
    padding: 11px;
    color: white;
    font-size: 15px;
    margin: 7px 0px;
    border-radius: 6px;
}

.globalBtn:hover {
    background-color: #003c3e !important;
    transition: 0.9s;
}

.bgDark {
    background-color: #2a292ad9;
}