.displayContent {
    display: contents;
}


/* .selectAlert {
    position: absolute;
    right: 271px;
    top: 81px;
} */

.alert-wrapper.sc-ion-alert-md {
    position: absolute;
    right: 257px;
    /* left: 0; */
    top: 134px;
}

.sc-ion-alert-md-h {
    --min-width: 229px;
}

.positionRelative {
    position: relative;
}

.selectBox {
    width: 99%;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
}

.paddTop {
    padding-top: 200px;
}

.InutField {
    width: 152px;
    margin: 21px 0px;
}

.borderDiv {
    border: 1px solid;
    width: 62%;
}

.imgSize {
    width: 248px;
    height: 230px;
}

.item-native {
    background-color: transparent;
    color: white;
}