.displayFlex {
    display: flex;
}

.searchBarWidth {
    width: 22%;
}

.CustomBtn {
    height: 75%;
    margin: 6px 30px;
}

.updateborderDiv {
    border: 1px solid;
    width: 100%;
}

.UpdateimgSizeimgSize {
    width: 202px;
}

.customMargin {
    margin: 26px 0;
}

.updatebgDark {
    background-color: #2a292ad9;
    height: 100vh;
    padding-top: 50px;
}


/* table css */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 17px;
    background-color: white;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}