.addProBtn {
    margin: 33px 0px 0px 18px;
}

.IonIconCss {
    cursor: pointer;
    font-size: 33px;
    color: red;
    top: 19px;
    position: relative;
    /* right: 13px; */
    left: 424px;
    z-index: 999;
}